.dg-picture-zoom{
	cursor : url(/css/cursors/magnify-plus.cur), pointer !important;
}
.dg-picture-zoom-large{
	cursor : url(/css/cursors/magnify-minus.cur), pointer !important;

}

.dg-picture-zoom-border-container{
    border : 2px solid #FFF;
    background-color: #FFF;
    margin-left:-7px;
    margin-top:-7px;
    padding:7px;
/*    box-shadow:10px 10px 20px #000000;*/
    border-radius: 5px;


}
